/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }
/* fine reset */

body{
  background-image: url(../img/sfondo.png);
}

/* container generale */
.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}
/* fine container generale */

/* INIZIO HEADER */

/* header rule */
header {
  height: 200px;
  margin: auto;
  margin-top: 6spx;
  margin-bottom: 100px;
}
/* fine header rule */
.title {
  position: relative;
  height: 221px;
  background-image: url(../img/header.jpg);
  border: 12px solid white;
}
/*  centratura testo titolo */
.title .text {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*  fine centratura testo titolo */

/*  formattazione testo  titolo*/
.title .text h1, h3 {
  text-align: center;
  color: white;
  }

 .title .text h1 {
   font-weight: 900;
   font-size: 40px;
   padding: 10px;

}
.title .text h3 {
  font-weight: lighter;
  font-size: 22px;
  font-family: 'Anton', sans-serif;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Montserrat', sans-serif;
  }
/* fine formattazione testo titolo */

/* inizio menu */
.menu {
  padding: 20px;
  text-align: center;
  background-color: #504741;
  height: 50px;

}
/* fine menu */

/* menu list */
.menu li {
  height: 100%;
  font-size: 15px;
  display: inline-block;
  color: lightgrey;
  padding-left: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}
/* fine menu lista */
/* FINE HEADER */

/* INIZIO MAIN */
.main {
  width: 100%;
}
.col-left {
  margin: auto;
  float: left;
  width: 20%;
  height: 500px;
  background-color: red;
}

.col-center {
  margin: auto;
  float: left;
  width: 50%;
  height: 500px;
  background-color: pink;
  margin: 0 5%;
}

.col-right {
  margin: auto;
  float: left;
  width: 20%;
  height: 500px;
  background-color: yellow;
}
/* FINE MAIN */
