/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }
/* fine reset */

body{
  background-image: url(../img/sfondo.png);
}

/* container generale */
.container {
  width: 60%;
  margin: auto;
}
/* fine container generale */

/* INIZIO HEADER */

/* header rule */
header {
  height: 200px;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 250px;
}
/* fine header rule */
.title {
  position: relative;
  height: 350px;
  background-image: url(../img/background-header.jpg);
  border: 12px solid white;
}
/*  centratura testo titolo */
.title .text {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*  fine centratura testo titolo */

/*  formattazione testo  titolo*/
.title .text h1 {
  color: white;

  }

 .title .text h1 {
   font-size: 60px;

}
.title h3 {
  color: white;
  margin-top: 250px;
  text-align: center;
  font-weight: lighter;
  font-size: 22px;
  font-family: 'Anton', sans-serif;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Montserrat', sans-serif;
  }
/* fine formattazione testo titolo */

/* inizio menu */
.menu {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #504741;
  height: 50px;

}
/* fine menu */

/* menu list */
.menu li {
  font-size: 15px;
  display: inline-block;
  color: lightgrey;
  padding-left: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}
/* fine menu lista */
/* FINE HEADER */

/* INIZIO MAIN */

/* main regole  */
.main {
  width: 100%;
}

.main::after{

}
/* fine main regole  */

/*  LAYOUT COLONNE */
main .col {
  border-radius: 2%;
}
.col-right, .col-left {
  margin: auto;
  padding: 10 10px;
}
/* colonna sinistra */
.col-left {
  margin: auto;
  float: left;
  width: 20%;
  background-color: white;
}

.col-left .list-col-sx li {
  font-size: 15px;
  list-style: none;
  color: green;
  padding: 5px;
}
/* fine colonna sinistra */

/* colonna centrale */
.col-center {
  margin: auto;
  float: left;
  width: 50%;
  background-color: white;
  margin: 0 5%;
}
main .col p {
  width: 100%;
  padding: 20px;
}
.col-center h2 {
  width: 100%;
  padding: 20px;
  text-align: left;
}
/* fine colonna centrale */

/* colonna destra */

.col-right {
  margin: auto;
  float: left;
  width: 20%;
}
.box {
  height: 50%;
  background-color: WHITE;
  margin-bottom: 50px;
}






/* fine colonna destra */

/* fine layout colonne */

/* FINE MAIN */
